<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/auth/login}" th:method="post">
  <!--不要更改input标签的属性，Spring Security默认通过username和password查找-->
  <label for="username">用户编号:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">密码:</label>
  <input type="password" id="password" name="password" required><br><br>
  <input type="submit" value="登录">
</form>
<a href="#" th:href="@{/auth/register}">注册</a>
</body>
</html>