<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/auth/register}" th:method="post">
    <label for="username">用户名:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="email">邮箱:</label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="phone">联系方式:</label>
    <input type="text" id="phone" name="phone"><br><br>
    <label for="role">角色:</label>
    <select id="role" name="role">
        <option value="ADMIN">管理员</option>
        <option value="TEACHER">教师</option>
        <option value="STUDENT">学生</option>
    </select><br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>