<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>为班级分配学生</title>
</head>
<body>
<h1>为班级 [[${clazz.className}]] 分配学生</h1>
<form action="#" th:action="@{/admin/classes/{classCode}/assign-students(classCode=${clazz.classCode})}" method="post">
    <table>
        <thead>
        <tr>
            <th>选择</th>
            <th>学生编号</th>
            <th>学生姓名</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${unassignedStudents}">
            <td>
                <input type="checkbox" id="student-[[${student.userCode}]]" name="userCodes" th:value="${student.userCode}" />
                <label for="student-[[${student.userCode}]]"></label>
            </td>
            <td>
                <label for="student-[[${student.userCode}]]" th:text="${student.userCode}"></label>
            </td>
            <td>
                <label for="student-[[${student.userCode}]]" th:text="${student.username}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">分配学生</button>
</form>
<a href="/admin/classes">返回班级列表</a>
</body>
</html>