<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<h1>修改密码</h1>
<!-- 显示错误信息 -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<form action="#" th:action="@{/user/change-password}" method="post">
    <label for="oldPassword">旧密码:</label>
    <input type="password" id="oldPassword" name="oldPassword" required><br>
    <label for="newPassword">新密码:</label>
    <input type="password" id="newPassword" name="newPassword" required><br>
    <input type="submit" value="修改密码">
</form>
</body>
</html>