<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance List</title>
</head>
<body>
<h1>Attendance List for Course <span th:text="${courseId}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Student Name</th>
        <th>Attendance Date</th>
        <th>Present</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attendance : ${attendances}">
        <td th:text="${attendance.student.username}"></td>
        <td th:text="${attendance.attendanceDate}"></td>
        <td th:text="${attendance.isPresent}"></td>
        <td>
            <a th:href="@{/attendance/delete/{id}/{courseId}(id=${attendance.id}, courseId=${courseId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/attendance/list/{courseId}(courseId=${courseId}, page=${currentPage - 1})}" th:if="${currentPage > 0}">Previous</a>
    <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span>
    <a th:href="@{/attendance/list/{courseId}(courseId=${courseId}, page=${currentPage + 1})}" th:if="${currentPage < totalPages - 1}">Next</a>
</div>
</body>
</html>