<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class List</title>
</head>
<body>
<h1>Class List</h1>
<a href="#" th:href="@{/clazz/add}">Add Class</a>
<table>
    <thead>
    <tr>
        <th>Class Name</th>
        <th>Class Code</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="clazz : ${classes}">
        <td th:text="${clazz.className}"></td>
        <td th:text="${clazz.classCode}"></td>
        <td>
            <a th:href="@{/clazz/edit/{id}(id=${clazz.id})}">Edit</a>
            <a th:href="@{/clazz/delete/{id}(id=${clazz.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/clazz/list(page=${currentPage - 1})}" th:if="${currentPage > 0}">Previous</a>
    <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span>
    <a th:href="@{/clazz/list(page=${currentPage + 1})}" th:if="${currentPage < totalPages - 1}">Next</a>
</div>
</body>
</html>