<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave Applications</title>
</head>
<body>
<h1>Leave Applications</h1>
<table>
    <thead>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Approved</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="leaveApplication : ${leaveApplications}">
        <td th:text="${leaveApplication.startDate}"></td>
        <td th:text="${leaveApplication.endDate}"></td>
        <td th:text="${leaveApplication.reason}"></td>
        <td th:text="${leaveApplication.approved}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>